{% extends 'base.html.twig' %}

{% block title %}{{nutrition.title}}{% endblock %}

{% block body %}
	{% if nutrition %}
	<div class="wrap-container">
		<div class="container">
			<div class="winco-food detail product">
				<div class="row">
					<div class="col-md-8">
						<div class="title">
							<h1>{{nutrition.title}}</h1>
						</div>
						{{nutrition.content|raw}}
						<div class="blb mb15"></div>
						{{ render(controller('App\\Controller\\NutritionController::nutritionByCategory', {categoryId: nutrition.category.id, nutritionId: nutrition.id})) }}
					</div>
					<div class="col-md-4 sidebar-right">
						<div class="sidebar-title">
							<h4>Thông tin dinh dưỡng khác danh mục</h4>
						</div>
						<div class="sidebar-ct">
							{% for p in others %}
							<div class="row">
								<div class="col-md-4 item-left">
									<a href="/thong-tin-dinh-duong/chi-tiet/{{p.id}}/{{p.slug}}"><img src="{{ vich_uploader_asset(p, 'imageFile') }}"></a>
								</div>
								<div class="col-md-8 item-right">
									<a href="/thong-tin-dinh-duong/chi-tiet/{{p.id}}/{{p.slug}}">{{p.title}}</a>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}