<footer class="winco">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				{% for m in menus %}
				<div class="col-md-3">
					<div class="winco-title">
						<h4>{{m.name}}</h4>
					</div>
					{% if loop.index == 1 %}
						{{ render(controller('App\\Controller\\MenuFooterController::menuFooterSub', {parentId: m.id, col: 'col-md-6'})) }}
					{% else %}
						{{ render(controller('App\\Controller\\MenuFooterController::menuFooterSub', {parentId: m.id, col: ''})) }}
					{% endif %}
				</div>
				{% endfor %}
				<div class="col-md-3 youtube">
					<div class="winco-title">
						<h4>Kênh WincoFood</h4>
					</div>
					<ul>
						{% if youtube %}
							<iframe width="360" class="kenh-winco-food" src="{{youtube.embed}}?autoplay=1&controls=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% else %}
							<iframe width="360" class="kenh-winco-food" src="{{default.embed}}?autoplay=1&controls=0&loop=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="center">Copyright © 2020 WincoFood Corp. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>